<ion-header>
  <ion-toolbar>
    <ion-title>listaDeUsuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor='let item of users'>

        <ion-card-header>
          <ion-card-title>Usuário</ion-card-title>
          <ion-card-subtitle>Name: {{item.Name}}</ion-card-subtitle>
          <ion-card-subtitle>Password: {{item.Password}}</ion-card-subtitle>
        </ion-card-header>
    
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
    
      </ion-card>

      <ion-row>
          <ion-button routerLink="/home">
            Inicio
          </ion-button>
      </ion-row>

</ion-content>
