<ion-header>
  <ion-toolbar>
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-button routerLink="/cadastro-de-usuario">
          Cadastro
        </ion-button>
    </ion-row>

    <ion-row>
        <ion-button routerLink="/lista-de-usuarios">
          Listar Usuários
        </ion-button>
    </ion-row>
</ion-content>
