<ion-header>
  <ion-toolbar>
    <ion-title>cadastroDeUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row>
      <h3>Cadastrar novo usuário</h3>
      <ion-item>
        <ion-input placeholder="Insira o nome" [(ngModel)]="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Insira a senha" [(ngModel)]="passwordUser"></ion-input>
      </ion-item>
    </ion-row>
    
    <ion-row>
      <ion-button (click)="CreateRecord()" [disabled]="!userName || !passwordUser">
        Inserir
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-row>
      <ion-button routerLink="/home">
        Inicio
      </ion-button>
  </ion-row>

</ion-content>
